.container{
    text-align: center;
    margin-top:  100px;
}
table{
    margin-left: auto;
    margin-right: auto;
    height: 1px;
}

input{
    font-size: 34px;
    border: 5px solid lightgrey;
    border-radius: 9px;
    
}
button{
    font-size: 23px;
    height: 57px;
    background:mediumpurple;
    width: 88px;
    border-radius: 9px;
    color: white;
}

button:hover, button.focus{
    animation: button 1s;
    box-shadow: 0 0 0 2rem rgba(#fff 0);
}
@keyframes button{
    0% {box-shadow: 0 0 0 var(--hover);}
}

.body{
    display: inline-block;
    border: 2px solid black;
    border-style: groove;
}

.calculator{
    background-color: black;
    padding: 5px;
    border-radius: 9px;
    display: inline-block;
}

h1{
    text-align: center;
}
div{
    text-align: center;
}