.container{
    text-align: center;
    margin-top:  100px;
}
table{
    margin-left: auto;
    margin-right: auto;
    height: 1px;
}

input{
    font-size: 34px;
    border: 5px solid lightgrey;
    border-radius: 9px;
    
}
button{
    font-size: 23px;
    height: 57px;
    background:lightgrey;
    width: 88px;
    border-radius: 9px;
}

.body{
    display: inline-block;
    border: 2px solid black;
    border-style: groove;
}

.calculator{
    background-color: darkgray;
    padding: 5px;
    border-radius: 9px;
    display: inline-block;
}

h1{
    text-align: center;
}
div{
    text-align: center;
}